<a href="https://colab.research.google.com/github/Mmotaharinia/Pandas-Data-Engineering-Skills/blob/main/C_Pandas_Data_Engineering_Skills.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Some useful Libraries
from pandas.core.frame import DataFrame
from numpy.lib.function_base import kaiser
from IPython.display import display
from PIL import Image
import pandas as pd
import numpy as np
import math  
import timeit
%precision 2

'%.2f'

In [ ]:
#pd.series is for only one dimensional arrays
print(pd.Series([2,4,6,3,2,3]))

0    2
1    4
2    6
3    3
4    2
5    3
dtype: int64

In [ ]:
# how to append two series
d=pd.Series(['mo','ali','hossein'], index=[1,2,3])
e=pd.Series({'abbas':20,'hasan':19,'asghar':13})
print(d.append(e),'\n')

1              mo
2             ali
3         hossein
abbas          20
hasan          19
asghar         13
dtype: object

In [ ]:
#make a dataframe using arrays
#basically what happens in dataframe is that every row and column will get a key name(index and column) that is a string
arr=np.array([[1,2,3,4],[0,0,0,0],[9,9,9,9]])
arrdf=pd.DataFrame(arr)
#col and index have to be string
col=['st1','st2','st3','st3']
arrdf.columns=col
idx=['c1','c2','c3']
arrdf.index=idx
#if you wanna update index you change the col or idx lists
arrdf

    st1  st2  st3  st3
c1    1    2    3    4
c2    0    0    0    0
c3    9    9    9    9

In [ ]:
#Notice the number of brackets
arrdf.index[0:3] #or arrdf.index[[0,3]]

Index(['c1', 'c2', 'c3'], dtype='object')

In [ ]:
# query a row or column with iloc (index position)
arrdf.iloc[:2,:]

    st1  st2  st3  st3
c1    1    2    3    4
c2    0    0    0    0

In [ ]:
# query a row with loc (index names)
arrdf.loc['c1']['st1':'st2']

st1    1
st2    2
Name: c1, dtype: int64

In [ ]:
# query a row with a name of one axis and the numbers in the other axis
arrdf.loc['c1'][0:2]

st1    1
st2    2
Name: c1, dtype: int64

In [ ]:
# query a row with a names of one axis and the numbers in the other axis
arrdf.loc['c1':'c3'][0:2]

    st1  st2  st3  st3
c1    1    2    3    4
c2    0    0    0    0

In [ ]:
# query a column with a names of one axis and the numbers in the other axis
arrdft=arrdf.T
arrdft.loc['st1':'st3'][0:2]

     c1  c2  c3
st1   1   0   9
st2   2   0   9

In [ ]:
#remove a column using column label
arrdf=arrdf.drop(['st1','st2'],axis=1)
arrdf

    st3  st3
c1    3    4
c2    0    0
c3    9    9

In [ ]:
#remove a column using column number
arrdf=arrdf.drop(arrdf.columns[[0,1]],1)
arrdf

    st3  st3
c1    3    4
c2    0    0
c3    9    9

In [ ]:
#add a column
arrdf.loc[:]['stdx']=[8,8,8]
arrdf

    st1  st2  st3  st3
c1    1    2    3    4
c2    0    0    0    0
c3    9    9    9    9

In [ ]:
#add a row
#arrdf.loc['c4']=[0,0,0,0,None]   
arrdf.iloc[3,:]=[0,0,0,0,None]
arrdf

    st1  st2  st3  st3  stdx
c1  1.0  2.0  3.0  4.0   8.0
c2  0.0  0.0  0.0  0.0   8.0
c3  9.0  9.0  9.0  9.0   8.0
c4  0.0  0.0  0.0  0.0   NaN

In [ ]:
#concat two data frames or a dataframe and a series

arrdf=pd.DataFrame([[1,2,3,4],[0,0,0,0],[9,9,9,9]])

new_df=pd.Series([7,7,7])
arrdf=pd.concat([new_df,arrdf],axis=1,keys=['new_df','arrdf'])
arrdf

  new_df arrdf
       0     0  1  2  3
0      7     1  2  3  4
1      7     0  0  0  0
2      7     9  9  9  9

In [ ]:
#concat two data frames or a dataframe and a series
arrdf=pd.DataFrame([[1,2,3,4],[0,0,0,0],[9,9,9,9]])

new_df=pd.DataFrame([[7,7,7,7]])
arrdf=pd.concat([new_df,arrdf],axis=0,keys=['new_df','arrdf'])
arrdf

          0  1  2  3
new_df 0  7  7  7  7
arrdf  0  1  2  3  4
       1  0  0  0  0
       2  9  9  9  9

In [ ]:
#example dataframe with a dictionary and addingincreasing index using a for
dic1={'Mo': [2,18,12,15],
     'Alex':[0,2,5,7],
     'Narges':[20,18,19,20]
      }
dic2=pd.DataFrame(dic1,index=['course' + str(n) for n in range(len(dic1['Mo']))])
pd.DataFrame(dic2)

         Mo  Alex  Narges
course0   2     0      20
course1  18     2      18
course2  12     5      19
course3  15     7      20

In [ ]:
dic2=[{'name':'Alex','class':'Chemistry','score':[20,12]},
      {'name':'Jack','class':'Math','score':[19,20]},
      {'name':'Jennifer','class':'Physics','score':[14,15]}]

#put a list of dictionaries into a dataframe
dic2pd=pd.DataFrame(dic2,index=['student'+ str(n) for n in range(len(dic2))])
dic2pd

              name      class     score
student0      Alex  Chemistry  [20, 12]
student1      Jack       Math  [19, 20]
student2  Jennifer    Physics  [14, 15]

In [ ]:
# add a column by name
dic2pd['lastname']=None
print(dic2pd,'\n')

              name      class     score lastname
student0      Alex  Chemistry  [20, 12]     None
student1      Jack       Math  [19, 20]     None
student2  Jennifer    Physics  [14, 15]     None

In [ ]:
#practical example of a comma separated file, comma separated file (cvs)==== should execute the cells in order
#!cat SPY_3.csv
dt=pd.read_csv('SPY_3.csv')
dt.head(3)

         Date        Open        High  ...       Close   Adj Close     Volume
0  2020-12-31  371.779999  374.660004  ...  373.880005  368.959473   78520700
1  2021-01-04  375.309998  375.450012  ...  368.790009  363.936462  110210800
2  2021-01-05  368.100006  372.500000  ...  371.329987  366.442993   66426200

[3 rows x 7 columns]

In [ ]:
#change date to date format
dt['Date']=pd.to_datetime(dt['Date'])
dt['Date'].head()

0   2020-12-31
1   2021-01-04
2   2021-01-05
3   2021-01-06
4   2021-01-07
Name: Date, dtype: datetime64[ns]

In [ ]:
# get rid of spaces in the column names, we should do this begore hand as some names may include a space -Importanttt
dt=dt.rename(mapper=str.strip, axis='columns')

In [ ]:
dt.index=dt.loc[:]['Date']
dt=dt.drop(['Date'],axis=1)
dt.head(3)
#or
#dt=dt.set_index('Date')
#dt.head()

                  Open        High  ...   Adj Close     Volume
Date                                ...
2020-12-31  371.779999  374.660004  ...  368.959473   78520700
2021-01-04  375.309998  375.450012  ...  363.936462  110210800
2021-01-05  368.100006  372.500000  ...  366.442993   66426200

[3 rows x 6 columns]

In [ ]:
# columns shown
dt.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [ ]:
dt=dt.rename(columns={'Open':'newopen','High':'newhigh', 'Date':'newdate'})
dt.head(1)

               newopen     newhigh  ...   Adj Close    Volume
Date                                ...
2020-12-31  371.779999  374.660004  ...  368.959473  78520700

[1 rows x 6 columns]

In [ ]:
dt=dt.rename(index={"2020-12-31":2})
dt.head(2)

               newopen     newhigh  ...   Adj Close     Volume
Date                                ...
2           371.779999  374.660004  ...  368.959473   78520700
2021-01-04  375.309998  375.450012  ...  363.936462  110210800

[2 rows x 6 columns]

In [ ]:
# lower case columns
dtcol=list(dt.columns)
#list comprehension method
dtcol=[x.lower().strip() for x in dtcol]
dt.columns=dtcol
dt.head(3)

               newopen     newhigh  ...   adj close     volume
Date                                ...
2           371.779999  374.660004  ...  368.959473   78520700
2021-01-04  375.309998  375.450012  ...  363.936462  110210800
2021-01-05  368.100006  372.500000  ...  366.442993   66426200

[3 rows x 6 columns]

In [ ]:
#Boolian masking
dtmask=dt.loc[:]['newopen']>372
dtmask.head(3)

Date
2             False
2021-01-04     True
2021-01-05    False
Name: newopen, dtype: bool

In [ ]:
dt2=dt.copy()
#Boolian masking
dt2=dt2.where((dt.loc[:]['newopen']<378)&(dt.loc[:]['newopen']>369))
dt2.head(5)

               newopen     newhigh  ...   adj close       volume
Date                                ...
2           371.779999  374.660004  ...  368.959473   78520700.0
2021-01-04  375.309998  375.450012  ...  363.936462  110210800.0
2021-01-05         NaN         NaN  ...         NaN          NaN
2021-01-06  369.709991  376.980011  ...  368.633789  107997700.0
2021-01-07  376.100006  379.899994  ...  374.110748   68766800.0

[5 rows x 6 columns]

In [ ]:
#Combination
#dt2=dt2.where((dt.loc[:]['newopen']<378)&(dt.loc[:]['newopen']>369)).dropna
dt2.dropna().head()

               newopen     newhigh  ...   adj close       volume
Date                                ...
2           371.779999  374.660004  ...  368.959473   78520700.0
2021-01-04  375.309998  375.450012  ...  363.936462  110210800.0
2021-01-06  369.709991  376.980011  ...  368.633789  107997700.0
2021-01-07  376.100006  379.899994  ...  374.110748   68766800.0
2021-01-11  377.850006  380.579987  ...  373.706177   51034700.0

[5 rows x 6 columns]

In [ ]:
#Summary
dt[dt['newopen']>370].head()

               newopen     newhigh  ...   adj close     volume
Date                                ...
2           371.779999  374.660004  ...  368.959473   78520700
2021-01-04  375.309998  375.450012  ...  363.936462  110210800
2021-01-07  376.100006  379.899994  ...  374.110748   68766800
2021-01-08  380.589996  381.489990  ...  376.242371   71677200
2021-01-11  377.850006  380.579987  ...  373.706177   51034700

[5 rows x 6 columns]

In [ ]:
#keep the index as a column and add a new index
dt=dt.reset_index()
dt=dt.reset_index()
dt.head()

   level_0  index        Date  ...       close   adj close     volume
0        0      0           2  ...  373.880005  368.959473   78520700
1        1      1  2021-01-04  ...  368.790009  363.936462  110210800
2        2      2  2021-01-05  ...  371.329987  366.442993   66426200
3        3      3  2021-01-06  ...  373.549988  368.633789  107997700
4        4      4  2021-01-07  ...  379.100006  374.110748   68766800

[5 rows x 9 columns]

In [ ]:
#keep the index as a column and add a new index
dt=dt.reset_index(drop=True)
dt=dt.reset_index(drop=True)
dt.head()

   level_0  index        Date  ...       close   adj close     volume
0        0      0           2  ...  373.880005  368.959473   78520700
1        1      1  2021-01-04  ...  368.790009  363.936462  110210800
2        2      2  2021-01-05  ...  371.329987  366.442993   66426200
3        3      3  2021-01-06  ...  373.549988  368.633789  107997700
4        4      4  2021-01-07  ...  379.100006  374.110748   68766800

[5 rows x 9 columns]

In [ ]:
#Multi index
#set multi-index#df.set_index(['county','city'])
#query multi index#df.loc['michigan','hishanty'][1]

In [ ]:
#missing value
dm=pd.read_csv('data_miss.csv')
dm

   good  bad  ugly
0    20  7.0   1.0
1    20  7.0   NaN
2    20  NaN   3.0
3    20  7.0   NaN
4    20  7.0   5.0

In [ ]:
dm.isnull()

    good    bad   ugly
0  False  False  False
1  False  False   True
2  False   True  False
3  False  False   True
4  False  False  False

In [ ]:
#dm.dropna()
dm.fillna(10000)

   good      bad     ugly
0    20      7.0      1.0
1    20      7.0  10000.0
2    20  10000.0      3.0
3    20      7.0  10000.0
4    20      7.0      5.0

In [ ]:
#The opposite would be bfill
dm.ffill()

   good  bad  ugly
0    20  7.0   1.0
1    20  7.0   1.0
2    20  7.0   3.0
3    20  7.0   3.0
4    20  7.0   5.0

In [ ]:
#to sort the data based on something
dm.index=dm['ugly']
dm.sort_index()

      good  bad  ugly
ugly
1.0     20  7.0   1.0
3.0     20  NaN   3.0
5.0     20  7.0   5.0
NaN     20  7.0   NaN
NaN     20  7.0   NaN

In [ ]:
dm.index=[1,2,3,4,5]
dm
dm.sort_values(by=['ugly'], ascending=False)

   good  bad  ugly
5    20  7.0   5.0
3    20  NaN   3.0
1    20  7.0   1.0
2    20  7.0   NaN
4    20  7.0   NaN

In [ ]:
# Very important # change a cell based on its value and not its position, for example change all 7 values to 8
dm.replace(7,8)

   good  bad  ugly
1    20  8.0   1.0
2    20  8.0   NaN
3    20  NaN   3.0
4    20  8.0   NaN
5    20  8.0   5.0

In [ ]:
dm.replace(to_replace='5.0', value="webpage",regex=True) # how does this work?

   good  bad  ugly
1    20  7.0   1.0
2    20  7.0   NaN
3    20  NaN   3.0
4    20  7.0   NaN
5    20  7.0   5.0

In [ ]:
#Merging dataframes- the how(outer,inner,left,right) argument basically determines what parts we wanna show based on a Venn diagram
staff_df=pd.DataFrame([{'name':'sally','role':'data manager'},
                         {'name':'alex','role':'director'},
                         {'name':'dave','role':'analyst'}])
staff_df=staff_df.set_index('name')

staff_df

               role
name
sally  data manager
alex       director
dave        analyst

In [ ]:
student_df=pd.DataFrame([{'name':'jen','department':'physics'},
                         {'name':'alex','department':'science'},
                         {'name':'sally','department':'chemistry'}])
student_df=student_df.set_index('name')
student_df

      department
name
jen      physics
alex     science
sally  chemistry

In [ ]:
#merge
pd.merge(staff_df,student_df,how='outer',right_index=True,left_index=True)

               role department
name
alex       director    science
dave        analyst        NaN
jen             NaN    physics
sally  data manager  chemistry

In [ ]:
pd.merge(staff_df,student_df,how='inner',right_index=True,left_index=True)

               role department
name
sally  data manager  chemistry
alex       director    science

In [ ]:
pd.merge(staff_df,student_df,how='left',right_index=True,left_index=True)

               role department
name
sally  data manager  chemistry
alex       director    science
dave        analyst        NaN

In [ ]:
#a better way for merging using one column
pd.merge(staff_df,student_df, how='outer',on='name')

               role department
name
sally  data manager  chemistry
alex       director    science
dave        analyst        NaN
jen             NaN    physics

In [ ]:
#merge data with overlaping names but different family names
staff_df=pd.DataFrame([{'name':'sally','lastname':'choi','role':'data manager'},
                         {'name':'alex','lastname':'morales','role':'director'},
                         ])
staff_df=staff_df.set_index('name')
student_df=pd.DataFrame([{'name':'alex','lastname':'morales','department':'science'},
                         {'name':'sally','lastname':'morgan','department':'chemistry'}])
student_df=student_df.set_index('name')

pd.merge(staff_df,student_df, how='outer',on=['name','lastname'])

      lastname          role department
name
sally     choi  data manager        NaN
alex   morales      director    science
sally   morgan           NaN  chemistry

In [ ]:
#Pandas idioms
# apply, basically write a function for one row and apply that to different rows pr columns
import pandas as pd
import numpy as np
ndf=pd.DataFrame([[0,0,0],[1,1,1],[89,56,33]])
def  min_pd(x):
    temp=x[0]
    a=np.min(temp)
    return a
ndf['min']=ndf.apply(min,axis='columns')
ndf

    0   1   2  min
0   0   0   0    0
1   1   1   1    1
2  89  56  33   33

In [ ]:
#another method
ndf.apply(lambda x:np.min(x),axis='columns')

0     0
1     1
2    33
dtype: int64

In [ ]:
#applymap #this will apply the function to all cells in the dataframe
ndf.applymap(lambda x:x-3)

    0   1   2  min
0  -3  -3  -3   -3
1  -2  -2  -2   -2
2  86  53  30   30

In [ ]:
#scales #change the data into categorical type
catd=pd.DataFrame(['A+','A-','A','B+','B','B-','C','D'], index=['excellent','excellent','excelent','good','good','fair','bad','awful'])
catd.dtypes

0    object
dtype: object

In [ ]:
catd[0].astype('category')

excellent    A+
excellent    A-
excelent      A
good         B+
good          B
fair         B-
bad           C
awful         D
Name: 0, dtype: category
Categories (8, object): ['A', 'A+', 'A-', 'B', 'B+', 'B-', 'C', 'D']

In [ ]:
#ordered #in case we need comparisons
catord=pd.CategoricalDtype(categories=['A+','A-','A','B+','B','B-','C','D'], ordered=True)
catord

CategoricalDtype(categories=['A+', 'A-', 'A', 'B+', 'B', 'B-', 'C', 'D'], ordered=True)

In [ ]:
#Pivot tables # df.pivot_table(value='what we are interested', columns='',index='',aggfunc'what we wanna do to those values in there is more than one(mean,max etc')

In [ ]:
#time and date
#timestamp
pd.Timestamp('15/04/2020 10:50AM')
pd.Timestamp(2020,12,18,12,55)

Timestamp('2020-12-18 12:55:00')

In [ ]:
#to find the weekday
pd.Timestamp(2020,12,18,12,55).isoweekday()

5

In [ ]:
pd.Timestamp(2020,12,18,12,55).minute

55

In [ ]:
#convert to date time (change different string formats into timeformat)
lst=pd.Series(['2 June 2013','3 June 2016','Aug 21, 2021', '2015-05-21','7/12/16'])
pd.to_datetime(lst)

0   2013-06-02
1   2016-06-03
2   2021-08-21
3   2015-05-21
4   2016-07-12
dtype: datetime64[ns]

In [ ]:
#can use it for different formats
pd.to_datetime('14.7.16', dayfirst=True)

Timestamp('2016-07-14 00:00:00')

In [ ]:
time_dlt=pd.Timedelta('12D 5H')
pd.Timestamp(2020,1,1,0,0)+ time_dlt

Timestamp('2020-01-13 05:00:00')

In [ ]:
#to make a list of dates
date_index=pd.date_range('10-1-2016', periods=10,freq='2W-SUN')
date_index

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22', '2017-02-05'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [ ]:
#to make a list of dates-business days
date=pd.date_range('10-1-2016', periods=10,freq='B')
date

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12',
               '2016-10-13', '2016-10-14'],
              dtype='datetime64[ns]', freq='B')

In [ ]:
#example
date=pd.date_range('10-1-2016', periods=9,freq='W')
dt=pd.DataFrame({'count1': np.random.randint(1,9,9),'count2':np.random.randint(1,9,9)},index=date)
dt

            count1  count2
2016-10-02       8       6
2016-10-09       2       7
2016-10-16       8       1
2016-10-23       8       1
2016-10-30       3       2
2016-11-06       4       6
2016-11-13       5       2
2016-11-20       7       1
2016-11-27       8       3

In [ ]:
#resample, convert from a higher freq to a lower freq
dt.resample('M').mean()

            count1  count2
2016-10-31     5.8     3.4
2016-11-30     6.0     3.0

In [ ]:
#to show only a specific period of time in our data
dt['2016-10']

            count1  count2
2016-10-02       8       6
2016-10-09       2       7
2016-10-16       8       1
2016-10-23       8       1
2016-10-30       3       2

In [ ]:
#simpple t test
from scipy import stats
from scipy.stats import ttest_ind
ttest_ind(dt['count1'],dt['count2'])

Ttest_indResult(statistic=2.328342000348797, pvalue=0.03333195726968797)